APP_NAME="Hall Booking System"

DB_HOST="Your database host, e.g., localhost"
DB_PORT="Your database port"
DB_USER="Your database username"
DB_PASSWORD="Your database password"
DB_NAME="Your database name, e.g., hall_booking_db"

DATABASE_URL="Your database URL, hall_booking_db"